services:
  # HR Assistant Backend
  hr-assistant-backend:
    build: ./hr_assistant_backend
    container_name: hr_assistant_backend
    ports:
      - "5000:5000"
    env_file:
      - /home/ubuntu/ats-project/.env
    volumes:
      # This line connects your local folder to Docker
      - /home/ubuntu/ats-project/hr_assistant_backend/chroma_db:/app/chroma_db
      - /home/ubuntu/ats-project/hr_assistant_backend/resume_storage:/app/resume_storage
      - /home/ubuntu/ats-project/hr_assistant_backend/logs:/app/logs
    depends_on:
      - db
      - chromadb

  # HR Assistant Frontend
  hr-assistant-frontend:
    build: ./hr_assistant_frontend
    container_name: hr_assistant_frontend
    ports:
      - "8501:8501"
    depends_on:
      - hr-assistant-backend

  # Postgres database for HR Assistant
  db:
    image: postgres:15
    container_name: postgres_assistant
    environment:
      POSTGRES_USER: atsuser01
      POSTGRES_PASSWORD: ATS_secure1
      POSTGRES_DB: ATSDB
    ports:
      - "5431:5432"   # avoid port conflict with assessment Postgres
    volumes:
      - postgres_assistant_data:/var/lib/postgresql/data

  # ChromaDB for HR Assistant
  chromadb:
    image: chromadb/chroma
    container_name: chromadb
    ports:
      - "8002:8000"
    volumes:
      - chroma_data:/chroma

volumes:
  postgres_assistant_data:
  chroma_data:
